<div class="grid">
  <mat-card class="card">
    <mat-card-title>Demographics</mat-card-title>
    <mat-card-content>
      {{ p.name.first }} {{ p.name.middle }} {{ p.name.last }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Addresses</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Credentials</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>Financial</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-title>ID Logins</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div>
